<html>
	<head>
		<title>İrem'in Blogu</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><font color="pink">İlk Blogum</font></h2>
            <em>Çok heyecanlıyım! Bu benim ilk blogum. Python kullandım. </em>
        </div>

        <div>
            <p>published: 14.06.2014, 12:20</p>
            <h2><a href="">İkinci gönderim</a></h2>
            <p>Sonraki içerikler için lütfen takipte kalın.</p>
        </div>
    </body>
</html>	